<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sau.sauoh.repository.DoctorListMapper">
    <resultMap id="doctorListMap" type="dList">
        <association property="user" javaType="user">
            <result property="username" column="username"/>
            <result property="password" column="password"/>
        </association>
        <association property="doctor" javaType="doctor">
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="phone" column="phone"/>
            <result property="workedTime" column="workedTime"/>
            <result property="level" column="level"/>
            <result property="hospital" column="hospital"/>
            <result property="departmentId" column="departmentId"/>
            <result property="checked" column="checked"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="doctorListMap">
        SELECT u.username,
               u.password,
               d.name,
               d.sex,
               d.phone,
               d.worked_time,
               d.level,
               d.hospital,
               d.department_id,
               d.checked
        FROM user u
                 right join doctor d on u.id = d.user_id
    </select>
    <select id="selectDoctorUnchecked" resultMap="doctorListMap">
        SELECT u.username,
               u.password,
               d.name,
               d.sex,
               d.phone,
               d.worked_time,
               d.level,
               d.hospital,
               d.department_id,
               d.checked
        FROM user u
                 right join doctor d on u.id = d.user_id
	    WHERE d.checked = '0'
    </select>
</mapper>