<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sau.sauoh.repository.DoctorMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.sau.sauoh.entity.Doctor" id="doctorMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="workedTime" column="worked_time"/>
        <result property="level" column="level"/>
        <result property="hospital" column="hospital"/>
        <result property="departmentId" column="department_id"/>
        <result property="checked" column="checked"/>
    </resultMap>


</mapper>