<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sau.sauoh.repository.MedicineOrderMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.sau.sauoh.entity.MedicineOrder" id="medicineOrderMap">
        <result property="id" column="id"/>
        <result property="medicalRecordId" column="medical_record_id"/>
        <result property="medicineId" column="medicine_id"/>
        <result property="medicineNum" column="medicine_num"/>
    </resultMap>

    <delete id="deleteAllByRecordId" parameterType="java.lang.Integer">
        DELETE
        FROM medicine_order
        WHERE medical_record_id = #{recordId, javaType=INTEGER};
    </delete>

</mapper>