<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sau.sauoh.repository.PatientListMapper">
    <resultMap id="patientListMap" type="pList">
        <association property="user" javaType="user">
            <result property="username" column="username"/>
            <result property="password" column="password"/>
        </association>
        <association property="patient" javaType="patient">
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="patientListMap">
        SELECT u.username, u.password, p.name, p.sex
        FROM user u
                 right join patient p on u.id = p.user_id;
    </select>
</mapper>