<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sau.sauoh.repository.QAMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.sau.sauoh.entity.QA" id="qaMap">
        <result property="id" column="id"/>
        <result property="patientId" column="patient_id"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="question" column="question"/>
        <result property="answer" column="answer"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


</mapper>