<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sau.sauoh.repository.UserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.sau.sauoh.entity.User" id="userMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="checkCode" column="check_code"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="checkCodeExist" resultType="java.lang.Boolean" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM user
        WHERE check_code = #{checkCode,jdbcType=VARCHAR};
    </select>
    <select id="selectByCheckCode" resultMap="userMap" parameterType="java.lang.String">
        select id, username, email, password, create_time, check_code
        from user
        where check_code = #{checkCode, jdbcType=VARCHAR};
    </select>

    <select id="selectByUsername" parameterType="java.lang.String" resultMap="userMap">
        select id, username, email, password, create_time, check_code
        from user
        where username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="selectByEmail" parameterType="java.lang.String" resultMap="userMap">
        select id, username, email, password, create_time, check_code
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>

</mapper>