<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 方便单元测试 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--开启下划线自动转驼峰命名法 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="cn.sau.sauoh.entity.User" alias="user"/>
        <typeAlias type="cn.sau.sauoh.entity.Patient" alias="patient"/>
        <typeAlias type="cn.sau.sauoh.entity.Doctor" alias="doctor"/>
        <typeAlias type="cn.sau.sauoh.entity.PatientList" alias="pList"/>
        <typeAlias type="cn.sau.sauoh.entity.DoctorList" alias="dList"/>
    </typeAliases>
</configuration>